---
layout: landing-page
---
<section id="one" class="wrapper style1">
	<header class="major">
		<h2>Summary</h2>
		<!-- <p>Tempus adipiscing commodo ut aliquam blandit</p> -->
	</header>
	<div class="container">
		<div class="row">
			<div class="2u">
				<br>
			</div>
			<div class="4u">
				<section>
					<!-- <h3>RNakanishi</h3> -->
					<img src="assets/images/profile.jpg" alt="" class="image med"/>
					<!-- <p>PhD. Student at University of São Paulo</p> -->
				<!-- </section>
				<section> -->
					<ul class="icons">
						<li><a target="_blank" href="https://github.com/rnakanishi" class="icon fa-github"></a></li>
						<li><a target="_blank" href="https://twitter.com/rnaka_" class="icon fa-twitter"></a></li>
						<li><a target="_blank" href="https://www.instagram.com/rnaka_" class="icon fa-instagram"></a></li>
					</ul>
				</section>
			</div>
			<div class="4u">
				<section>
					<h2>Main Interests</h2>
					<ul class="alt">
						<li>Computer Graphics</li>
						<li>Computer Animation</li>
						<li>Computational Fluid Dynamics</li>
						<li>Concept Art</li>
						<li>Illustration</li>
					</ul>
				</section>
			</div>

		</div>
	</div>
</section>

<!-- One -->
<section id="one" class="wrapper style2">
	<header class="major">
		<h2>Selected Publications</h2>
		<!-- <p>Tempus adipiscing commodo ut aliquam blandit</p> -->
	</header>
	<div class="container">
		<div class="row">
			{% for post in site.categories.publication limit:2 %}
				<div class="6u">
					<section class="special box">
						{% for teaser in post.teaser limit:1 %}
						<!-- <a class="image small"><img src="{{teaser}}" alt="" class="medium"></a > -->
						<a href="{{post.url}}" class="image fit"><img src="{{teaser}}" alt=""></a >
					{%endfor%}
					<a href="{{post.url}}"><h3>{{post.title}}</h3></a>
					<!-- <h3>{{post.title}}</h3> -->
					<p>{{post.conference}}</p>
					</section>
				</div>
			{%endfor%}
		</div>
	</div>
</section>

<!-- Two -->
<section id="two" class="wrapper style1">
	<header class="major">
		<h2>Projects</h2>
		<!-- <p>Amet nisi nunc lorem accumsan</p> -->
	</header>
	<div class="container">
		<div class="row">
			<section class="3u">
				<br />
			</section>
			<div class="6u">
				<section class="special box">
					<div class="row">
						<div class="6u">
							<img src="/assets/images/voronowledge-logo-bg.png" alt="" class="image fit right" />
						</div>
						<div class="6u">
							<h3>Voronowledge</h3>
							<p>A compilation of geometry, fluid simulations, continuum mechanics studies.</p>
							<ul class="actions">
								<li><a href="https://rnakanishi.github.io/voronowledge/" class="button alt" target="_blank">Learn More</a></li>
							</ul>

						</div>
					</div>
				</section>
			</div>
		</div>
	</div>
</section>

<!-- Three -->
<!-- <section id="three" class="wrapper style1">
	<div class="container">
		<div class="row">
			<div class="8u">
				<section>
					<h2>Mollis ut adipiscing</h2>
					<a href="#" class="image fit"><img src="images/pic03.jpg" alt="" /></a>
					<p>Vis accumsan feugiat adipiscing nisl amet adipiscing accumsan blandit accumsan sapien blandit ac amet faucibus aliquet placerat commodo. Interdum ante aliquet commodo accumsan vis phasellus adipiscing. Ornare a in lacinia. Vestibulum accumsan ac metus massa tempor. Accumsan in lacinia ornare massa amet. Ac interdum ac non praesent. Cubilia lacinia interdum massa faucibus blandit nullam. Accumsan phasellus nunc integer. Accumsan euismod nunc adipiscing lacinia erat ut sit. Arcu amet. Id massa aliquet arcu accumsan lorem amet accumsan commodo odio cubilia ac eu interdum placerat placerat arcu commodo lobortis adipiscing semper ornare pellentesque.</p>
				</section>
			</div>
			<div class="4u">
				<section>
					<h3>Magna massa blandit</h3>
					<p>Feugiat amet accumsan ante aliquet feugiat accumsan. Ante blandit accumsan eu amet tortor non lorem felis semper. Interdum adipiscing orci feugiat penatibus adipiscing col cubilia lorem ipsum dolor sit amet feugiat consequat.</p>
					<ul class="actions">
						<li><a href="#" class="button alt">Learn More</a></li>
					</ul>
				</section>
				<hr />
				<section>
					<h3>Ante sed commodo</h3>
					<ul class="alt">
						<li><a href="#">Erat blandit risus vis adipiscing</a></li>
						<li><a href="#">Tempus ultricies faucibus amet</a></li>
						<li><a href="#">Arcu commodo non adipiscing quis</a></li>
						<li><a href="#">Accumsan vis lacinia semper</a></li>
					</ul>
				</section>
			</div>
		</div>
	</div>
</section> -->
