---
title: Rafael Nakanishi
layout: default
---

<!-- Header -->
<div id="header">
	<div class="container">
		{% include nav.html %}
		<!-- Logo -->
		<div id="logo">
			<h1><a href="#">{{site.title}}</a></h1>
		</div>
	</div>
</div>

<!-- Featured -->
<div id="featured">
	<div class="container">
		<header>
			<h2>Welcome to my website</h2>
		</header>
		<p>Under construction</p>
		<hr />

		<header>
			<h2>Last publications</h2>
		</header>
		<div class="row">
			{% for post in site.categories.publication limit:3 %}
				<section class="4u">
	                {% for teaser in post.teaser%}
						<!-- <a class="image small"><img src="{{teaser}}" alt="" class="medium"></a > -->
						<a href="{{post.url}}" class="image small"><img src="{{teaser}}" alt="" class="medium"></a >
					{%endfor%}
					<h3>{{post.title}}</h3>
					<p>{{post.conference}}</p>
				</section>
			{%endfor%}
		</div>
		<hr />

		<header>
			<h2>Projects</h2>
		</header>
		<div class="row">
			<section class="4u">
				<br />
			</section>
			<section class="4u">
				<span class="pennant"><span class="fa fa-briefcase"></span></span>
				<h3>Voronowledge</h3>
				<p>A compilation of geometry, fluid simulations, continuum mechanics studies.</p>
				<p><i>Under construction</i></p>
				<a href="https://rnakanishi.github.io/voronowledge/" class="button button-style1" target="_blank">Read More</a>
			</section>
			<section class="4u">
				<br />
			</section>
		</div>
	</div>
</div>
