---
layout: default
---
<!-- Header -->
<div id="header">
	<div class="container">
		{% include nav.html %}
		<!-- Logo -->
		<div id="logo">
			<h2>{{page.title}}</h2>
		</div>
	</div>
</div>

<!-- Main -->
<div id="main">
	<div id="content" class="container">
		<div class="row">
			{% for section in page.yml %}
				<!--  LEFT SIDEBAR -->
				{% if section.category == "left" %}
					<div id="sidebar" class="3u -2u">
						<section>
							{% capture section_description %}{% include {{ section.description }} %}{% endcapture %}
							{{section_description | markdownify }}
						</section>
					</div>
				{%else%}
					<!-- MAIN CONTENT -->
					<div id="content" class="6u skel-cell-important">
						<section>
							<header>
								<h1> {{ page.title }} </h1>
								{%if page.subtitle%}
									<h2>{{page.subtitle}}</h2>
								{%endif%}
							</header>
							{% capture section_description %}{% include {{ section.description }} %}{% endcapture %}
							{{section_description | markdownify }}
						</section>
					</div>
				{% endif %}
			{%endfor%}

			<!-- Content -->

		</div>
	</div>
</div>
<!-- /Main -->
