---
layout: default
---
<div class="wrapper style1">
    <article class="container">
        <header class="major">
            <h2 class="post-title">{{ page.title }}</h2>
                <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}
				<!-- </p> -->
				{% if page.authors%} • 
					<!-- <p class="post-meta"> -->
					{% for auth in page.authors %}
				        {% if auth.site %}
				            <a href="{{auth.site}}" target="_blank">
				               	{{auth.name}}
				            </a>
							{% unless forloop.last %}
								,
							 {%endunless%}
				        {% else %}
				            {% unless forloop.last %}
				                {{auth.name}},
				            {%else%}
				                {{auth.name}}
				            {%endunless%}
				        {%endif%}
				    {% endfor %}
					</p>
				{% endif %}
        </header>

        <section class="post-content">
            {{ content }}
        </section>

        <footer>
            {% if page.previous %}
            <a href="{{ page.previous.url }}" class="float-left">&larr; Previous post</a> {% endif %}
            {% if page.next %}
            <a href="{{ page.next.url }}" class="float-right">Next post &rarr;</a> {% endif %}
        </footer>

    </article>

</div>
